html {
  font-size: 1.5rem;
  background-color: black;
  margin: 1.5rem;
}

* {
  font-size: inherit;
}

input[type="checkbox"] {
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  margin: 0.5rem;
  margin-right: 0.25rem;
  filter: contrast(2);
}

button {
  margin: 0.25rem;
}
